@font-face {
    font-family: 'Kode Mono';
    src: url("/font/KodeMono-VariableFont_wght.ttf");
    font-weight: 400 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kode Mono', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
    padding: 5vh 0 5px 0;
}

.nav-link {
    color: grey;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;
}

.nav-link:hover {
    color: lightgray;
}

.nav-link.active {
    color: white;
}

#progress-bar {
    --progress: 0;
    width: var(--progress);
    height: 3px;
    background-color: lightgoldenrodyellow;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    z-index: 9;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
}

section {
    height: 100dvh;
    scroll-snap-align: start;
}

#intro-section {
    background: none;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
}

#intro-section>.titles {
    position: relative;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dropAnime {
    overflow: hidden;
}

.titles h1 {
    font-size: 8vw;
    color: transparent;
    background-color: white;
    background-image: linear-gradient(45deg, #ffffff, #ffe181);
    background-size: 100%;
    background-clip: text;
}

.titles h3 {
    color: grey;
    font-size: 1.5vw;
}

#projects-section {
    overflow: hidden;
    position: relative;
}

#project-track {
    display: flex;
    gap: 6vmin;
    position: absolute;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

#project-track>.project {
    width: 40vmin;
    height: 60vmin;
    position: relative;
}

.project>.hover {
    opacity: 0;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.project>.hover:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.project h3 {
    color: lightgray;
    font-size: 4vmin;
    position: absolute;
    top: 5%;
    left: 5%;
}

.project p {
    color: white;
    font-size: 2vmin;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    line-height: 1.5rem;
}

.project a {
    color: lightgray;
    font-size: 2vmin;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.project .project-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0%;
}

#workhistory-section {
    overflow: hidden;
    position: relative;
}

#experience-track {
    display: flex;
    gap: 15vmin;
    position: absolute;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

#experience-track>.experience {
    width: 50vmin;
    height: 70vmin;
    position: relative;
    border-left: lightgoldenrodyellow solid 2px;
    padding: 0.5% 1%;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    background-color: rgba(0, 0, 0, 0.7);
}

.experience h3 {
    color: gray;
    font-size: 2vmin;
}

.experience h1 {
    color: white;
    font-size: 5vmin;
}

.experience p {
    color: white;
    font-size: 2.5vmin;
    word-wrap: break-word;
}

#end-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end-section h1 {
    font-size: 6vw;
    color: transparent;
    background-color: white;
    background-image: linear-gradient(45deg, #ffffff, #ffe181);
    background-size: 100%;
    background-clip: text;
}

#end-section #social-links {
    display: flex;
    width: fit-content;
    gap: 4vmin;
    margin-top: 8vh;
    padding-top: 2vh;
    border-top: #ffffff solid 1px;
}

#end-section a {
    color: lightgray;
    font-size: 2vmin;
}

@media screen and (max-width:960px) {
    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100svw;
        gap: 0;
        padding: 1.5svh 1vw 1.5svh 1vw;
    }

    #intro-section {
        background: none;
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #intro-section>.titles {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .titles h1 {
        font-size: 16vw;
        color: transparent;
        background-color: white;
        background-image: linear-gradient(45deg, #ffffff, #ffe181);
        background-size: 100%;
        background-clip: text;
    }

    .titles h3 {
        color: white;
        font-size: 5vw;
    }

    #project-track>.project {
        width: 70vw;
        height: 70svh;
    }

    .project>.hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5% 5%;
    }

    .project h3 {
        top: auto;
        left: auto;
        font-size: 2rem;
        position: relative;
        margin-bottom: 5%;
    }

    .project p {
        top: auto;
        left: auto;
        font-size: 1rem;
        position: relative;
    }

    .project a {
        font-size: 2rem;
    }

    #experience-track {
        gap: 10vw;
    }

    #experience-track>.experience {
        width: 70vw;
        height: 70svh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .experience h3 {
        font-size: 1rem;
    }

    .experience h1 {
        font-size: 1.5rem;
    }

    .experience p {
        font-size: 1rem;
    }

    #end-section h1 {
        font-size: 10vw;
    }

    #end-section a {
        font-size: 5vw;
    }

    #end-section #social-links {
        margin-top: 8vh;
        padding-top: 2vh;
    }
}

@media screen and (max-width:768px) {
    .experience h3 {
        font-size: 4vw;
    }

    .experience h1 {
        font-size: 6vw;
    }

    .experience p {
        font-size: 4vw;
    }
}